name: Build

on:
  workflow_call:

jobs:
  main:
    runs-on: self-hosted

    steps:
      - name: Setup Project
        run: |
          export project="$HOME/Evolution-X"
          export project_files="$HOME/files/Evolution-X/${{ github.run_id }}"
          echo "project=$project" >> $GITHUB_ENV
          echo "project_files=$project_files" >> $GITHUB_ENV
          mkdir -p "$project" "$project_files"

      - name: Sync source
        working-directory: ${{ env.project }}
        run: |
          curl -LSs https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/main/scripts/gcpsetup.sh | bash
          rm -rf .repo/local_manifests vendor/evolution-priv/keys
          repo init --depth 1 --git-lfs -u https://github.com/Evolution-X/manifest -b bq1
          git clone https://github.com/${{ github.actor }}/local_manifests .repo/local_manifests
          git clone https://$GH_TOKEN@github.com/${{ github.actor }}/android_vendor_evolution-priv_keys vendor/evolution-priv/keys
          curl -LSs https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/main/scripts/sync.sh | bash
          sed -i 's|^generate_host_overrides|# generate_host_overrides|g' vendor/lineage/build/envsetup.sh
        env:
          GH_TOKEN: ${{ secrets.token }}

      - name: Compile
        working-directory: ${{ env.project }}
        run: |
          source build/envsetup.sh
          source <(curl -LSs https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/main/scripts/envsetup.sh)
          lunch lineage_eqe-bp3a-user
          cmka evolution || exit 1
          cp $OUT/{*.zip,*boot.img,super_empty.img,recovery.img} ${{ env.project_files }}
        env:
          BUILD_USERNAME: peace
          BUILD_HOSTNAME: github
          RBE_remote_headers: ${{ secrets.buildbuddy }}

      - name: Upload to SourceForge
        run: |
          rsync -avP -e "ssh -o StrictHostKeyChecking=no" \
          ${{ env.project_files }}/*.zip \
          z7g4n1u8@frs.sourceforge.net:/home/frs/project/eqe/Evolution-X/

      - name: Display Error
        if: ${{ failure() }}
        working-directory: ${{ env.project }}
        run: |
          cat out/error.log
          rm -rf ${{ env.project_files }}
