name: Build

on:
  workflow_call:

jobs:
  main:
    runs-on: self-hosted

    steps:
      - name: Setup Project
        run: |
          echo "project=$HOME/LineageOS" >> $GITHUB_ENV
          mkdir -p ~/LineageOS ~/artifacts/${{ github.run_id }}

      - name: Sync Source
        working-directory: ${{ env.project }}
        run: |
          rm -rf .repo/local_manifests vendor/lineage-priv/keys
          repo init --depth 1 --git-lfs -u https://github.com/LineageOS/android.git -b lineage-23.0
          git clone https://github.com/${{ github.actor }}/local_manifests .repo/local_manifests
          git clone https://$GH_TOKEN@github.com/${{ github.actor }}/android_vendor_lineage-priv_keys vendor/lineage-priv/keys
          curl -LSs https://raw.githubusercontent.com/accupara/docker-images/refs/heads/master/aosp/common/resync.sh | bash
          repo forall -g local -c "git fetch --unshallow"
        env:
          GH_TOKEN: ${{ secrets.token }}

      - name: Compile
        working-directory: ${{ env.project }}
        run: |
          source build/envsetup.sh
          breakfast eqe userdebug
          cmka bacon || exit 1
          cp $OUT/{*-eqe.zip,*boot.img,super_empty.img,recovery.img} ~/artifacts/${{ github.run_id }}
        env:
          BUILD_USERNAME: peace
          BUILD_HOSTNAME: github
          SKIP_ABI_CHECKS: true

      - name: Upload Artifacts
        uses: actions/upload-artifact@main
        with:
          name: LineageOS_${{ github.run_id }}
          path: ~/artifacts/${{ github.run_id }}

      - name: Display Error
        if: ${{ failure() }}
        working-directory: ${{ env.project }}
        run: cat out/error.log
