name: Build

on:
  workflow_call:

jobs:
  main:
    runs-on: self-hosted

    steps:
      - name: Setup Project
        run: |
          echo "project=$HOME/Evolution-X" >> $GITHUB_ENV
          mkdir -p ~/Evolution-X ~/artifacts/${{ github.run_id }}

      - name: Sync source
        working-directory: ${{ env.project }}
        run: |
          curl -LSs https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/main/scripts/gcpsetup.sh | bash
          rm -rf .repo/local_manifests vendor/evolution-priv/keys
          repo init --depth 1 --git-lfs -u https://github.com/Evolution-X/manifest -b bq1
          git clone https://github.com/${{ github.actor }}/local_manifests .repo/local_manifests
          git clone https://$GH_TOKEN@github.com/${{ github.actor }}/android_vendor_evolution-priv_keys vendor/evolution-priv/keys
          curl -LSs https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/main/scripts/sync.sh | bash
        env:
          GH_TOKEN: ${{ secrets.token }}

      - name: Compile
        working-directory: ${{ env.project }}
        run: |
          source build/envsetup.sh
          source <(curl -LSs https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/main/scripts/envsetup.sh)
          lunch lineage_eqe-bp3a-user
          cmka evolution || exit 1
          cp $OUT/{*.zip,*boot.img,super_empty.img,recovery.img} ~/artifacts/${{ github.run_id }}
        env:
          BUILD_USERNAME: peace
          BUILD_HOSTNAME: github
          RBE_remote_headers: ${{ secrets.buildbuddy }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@main
        with:
          name: Evolution-X_${{ github.run_id }}
          path: ~/artifacts/${{ github.run_id }}

      - name: Display Error
        if: ${{ failure() }}
        working-directory: ${{ env.project }}
        run: cat out/error.log
