name: Main

on:
  workflow_dispatch:
    inputs:
      release:
        description: "Create release"
        required: true
        type: boolean

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
    - name: Setup
      uses: appleboy/ssh-action@master
      env:
        GH_TOKEN: ${{ secrets.token }}
        GH_REPOSITORY: ${{ github.repository }}
      with:
        host: ${{ secrets.gcp_host }}
        username: ${{ secrets.gcp_user }}
        key: ${{ secrets.gcp_key }}
        script: curl -LSs https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/main/scripts/runner.sh | bash -s registration
        envs: GH_TOKEN,GH_REPOSITORY

  build:
    uses: ./.github/workflows/build.yml
    needs: setup
    secrets: inherit

  release:
    if: ${{ inputs.release }}
    uses: ./.github/workflows/release.yml
    needs: build
    secrets: inherit

  cleanup:
    if: ${{ always() }}
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Setup
      uses: appleboy/ssh-action@master
      env:
        GH_TOKEN: ${{ secrets.token }}
        GH_REPOSITORY: ${{ github.repository }}
      with:
        host: ${{ secrets.gcp_host }}
        username: ${{ secrets.gcp_user }}
        key: ${{ secrets.gcp_key }}
        script: curl -LSs https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/main/scripts/runner.sh | bash -s remove
        envs: GH_TOKEN,GH_REPOSITORY
