name: Main

on:
  workflow_dispatch:
    inputs:
      release:
        description: "Create release"
        required: true
        type: boolean

jobs:
  setup:
    uses: ./.github/workflows/setup.yml
    secrets: inherit

  build:
    uses: ./.github/workflows/build.yml
    needs: setup
    secrets: inherit

  release:
    if: ${{ inputs.release }}
    uses: ./.github/workflows/release.yml
    needs: build
    secrets: inherit

  cleanup:
    if: ${{ always() }}
    uses: ./.github/workflows/cleanup.yml
    needs: build
    secrets: inherit
