name: Release

on:
  workflow_dispatch:
    inputs:
      host:
        description: "hostname of server"
        required: true
      port:
        description: "port of server"
        required: true

jobs:

  setup:
    name: Setup
    runs-on: ubuntu-latest
    steps:
      - name: Setup runner
        uses: appleboy/ssh-action@master
        with:
          host: ${{ inputs.host }}
          username: peace
          password: ${{ secrets.password }}
          port: ${{ inputs.port }}
          script: |
            rm -rf actions-runner
            mkdir -p actions-runner
            version=$(curl -s "https://api.github.com/repos/actions/runner/releases/latest" | grep -oP '"tag_name": "\K[^"]*' | sed 's/^v//')
            curl -o actions-runner-linux-x64.tar.gz -LSs https://github.com/actions/runner/releases/download/v${version}/actions-runner-linux-x64-${version}.tar.gz
            tar -xvf actions-runner-linux-x64.tar.gz -C actions-runner
            rm -rf actions-runner-linux-x64.tar.gz
            cd actions-runner
            ./config.sh --unattended --url "https://github.com/${{ github.repository }}" --token "${{ secrets.token }}" --replace

            sudo apt update -y && sudo apt install -y tmux
            if tmux has-session -t ghactions; then
              echo "Runner is already Running"
            else
              tmux kill-session -t ghactions;
              tmux new-session -d -s ghactions
              tmux send-keys -t ghactions './run.sh' Enter
              echo "Runner Started"
            fi

  build:
    name: Build
    uses: ./.github/workflows/build.yml
    needs: setup
    secrets: inherit

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Download all artifacts
        uses: actions/download-artifact@main
        with:
          path: artifacts

      - name: Set Release Tag and Notes
        run: |
          echo "release=$(date +"%Y-%m-%d")" >> $GITHUB_ENV
          cat << EOF > release_notes.md

          Notes:
          -> Device: Motorola Edge 50 Pro (eqe)
          -> Build Date: $(date +"%d %B %Y")
          -> Build Type: Userdebug

          Links:
          -> [Source](https://github.com/${{ github.actor }}/local_manifests)
          -> [Run Details](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})
          -> [MindTheGapps](https://github.com/MindTheGapps/16.0.0-arm64/releases/latest)
          -> [Support Group](https://t.me/MotorolaEdge50Pro)
          EOF

      - name: Create GitHub Release
        uses: softprops/action-gh-release@master
        with:
          name: LineageOS
          tag_name: ${{ env.release }}
          body_path: release_notes.md

      - name: Upload Release Assets
        run: |
          for file in $(find artifacts -type f); do
            echo "Uploading $file..."
            gh release upload "${{ env.release }}" "$file"
          done
        env:
          GH_TOKEN: ${{ github.token }}
