name: Release

on:
  workflow_call:

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Set Release Tag and Notes
        run: |
          echo "release=$(date +"%Y.%m.%d")" >> $GITHUB_ENV
          cat << EOF > release_notes.md

          Notes:
          -> Device: Motorola Edge 50 Pro (eqe)
          -> Build Date: $(date +"%d %B %Y")
          -> Build Type: Userdebug

          Links:
          -> [Run Details](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})
          -> [MindTheGapps](https://github.com/MindTheGapps/16.0.0-arm64/releases/latest)
          -> [Support Group](https://t.me/MotorolaEdge50Pro)
          EOF

      - name: Create GitHub Release
        uses: softprops/action-gh-release@master
        with:
          name: LineageOS
          tag_name: ${{ env.release }}
          body_path: release_notes.md

      - name: Download all artifacts
        uses: actions/download-artifact@main
        with:
          path: artifacts

      - name: Split Large Files
        run: |
          find artifacts -type f -size +1900M | while read file; do
            echo "Large file detected: $file"
            dir=$(dirname "$file")
            filename=$(basename "$file")
            name="${filename%.*}"
            pushd "$dir"
            if zip -s 1900m "${name}-split.zip" "$filename" --compression-method store; then
              rm "$filename"
              echo "Splitting complete for $file"
            else
              echo "Error: Failed to split $file"
              exit 1
            fi
            popd
          done

      - name: Upload Release Assets
        run: |
          for file in $(find artifacts -type f); do
            echo "Uploading $file..."
            gh release upload "${{ env.release }}" "$file"
          done
        env:
          GH_TOKEN: ${{ github.token }}
