name: Setup server

on:
  workflow_call:
    inputs:
      user:
        required: true
        type: string
      host:
        required: true
        type: string
      port:
        required: true
        type: string

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Get Runner Registration Token
        id: get_token
        run: |
          TOKEN_JSON=$(curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.token }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository }}/actions/runners/registration-token)

          RUNNER_TOKEN=$(echo $TOKEN_JSON | jq -r .token)
          echo "::add-mask::${RUNNER_TOKEN}"
          echo "token=${RUNNER_TOKEN}" >> $GITHUB_OUTPUT

      - name: Setup runner
        uses: appleboy/ssh-action@master
        with:
          host: ${{ inputs.host }}
          username: ${{ inputs.user }}
          password: ${{ secrets.password }}
          port: ${{ inputs.port }}
          script: |
            mkdir -p actions-runner
            version=$(curl -s "https://api.github.com/repos/actions/runner/releases/latest" | grep -oP '"tag_name": "\K[^"]*' | sed 's/^v//')
            curl -o actions-runner-linux-x64.tar.gz -LSs https://github.com/actions/runner/releases/download/v${version}/actions-runner-linux-x64-${version}.tar.gz
            tar -xvf actions-runner-linux-x64.tar.gz -C actions-runner
            rm -rf actions-runner-linux-x64.tar.gz
            cd actions-runner
            sudo ./bin/installdependencies.sh
            ./config.sh --unattended --url "https://github.com/${{ github.repository }}" --token "${{ steps.get_token.outputs.token }}" --replace
            sudo apt-get -y update && sudo apt-get -y install tmux
            tmux new-session -d -s ghactions
            tmux send-keys -t ghactions './run.sh' Enter || echo "Failed to start runner"
