name: Setup server

on:
  workflow_call:
    inputs:
      host:
        required: true
        type: string
      port:
        required: true
        type: string

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Setup runner
        uses: appleboy/ssh-action@master
        with:
          host: ${{ inputs.host }}
          username: ${{ github.actor }}
          password: ${{ secrets.password }}
          port: ${{ inputs.port }}
          script: |
            rm -rf actions-runner
            mkdir -p actions-runner
            version=$(curl -s "https://api.github.com/repos/actions/runner/releases/latest" | grep -oP '"tag_name": "\K[^"]*' | sed 's/^v//')
            curl -o actions-runner-linux-x64.tar.gz -LSs https://github.com/actions/runner/releases/download/v${version}/actions-runner-linux-x64-${version}.tar.gz
            tar -xvf actions-runner-linux-x64.tar.gz -C actions-runner
            rm -rf actions-runner-linux-x64.tar.gz
            cd actions-runner
            ./config.sh --unattended --url "https://github.com/${{ github.repository }}" --token "${{ secrets.token }}" --replace

            sudo apt update -y && sudo apt install -y tmux
            if tmux has-session -t ghactions; then
              echo "Runner is already Running"
            else
              tmux kill-session -t ghactions;
              tmux new-session -d -s ghactions
              tmux send-keys -t ghactions './run.sh' Enter
              echo "Runner Started"
            fi
